<%- include('./partials/head.ejs') %>

<section>
  <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
  <img src="<%= member.avatar != '' ? member.avatar :'/placeholder.jpg' %>" alt="De avatar van <%= member.name %>" />
  <p><%- member.bio.html %></p>
</section>

<section>
  <h2>Shouts</h2>

  <% member.shouts.forEach(shout => { %>

    <article>
      <h2><%= shout.author %></h2>
      <p><%= shout.text %></p>
    </article>
  
  <% }) %>
  
</section>

<form action="/shout" method="post" class="form-shout">
  <h2>Shout @<%= member.name %></h2>
  <input type="hidden" name="id" id="id" value="<%= member.id %>">
  <label for="author">Naam</label>
  <input id="author" type="text" name="author">

  <label for="text">Bericht</label>
  <input id="text" type="text" name="text">

  <button>🔥</button>

  <input type="submit" value="Shout!">
</form>

<%- include('./partials/foot.ejs') %>